.features-container {
  padding: 0 32px;
  background-image: url('../../assets/images/features/bg.png');
  background-size: cover;

  .features-container-root {
    display: grid;
    grid-template-columns: 60% 40%;
  }

  &__title {
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 46px;
    text-transform: uppercase;
    color: #f0f7f8;
    margin-bottom: 24px;
  }

  &__desc {
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 132.5%;
    color: #00e7f1;
    margin-bottom: 24px;
  }

  &__button {
    background: linear-gradient(246.85deg, #00a8a8 8.65%, #00e799 104.82%);
    width: 260px;
    margin-bottom: 44px;
  }

  &__img {
    width: 337px;
    height: 272px;
    margin-bottom: 150px;
  }

  &__right {
    &--img {
      position: absolute;
      right: -50px;
      top: 135px;
    }
  }
}

@media screen and (max-width: 1300px) {
  .features-container {
    .features-container-root {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding-bottom: 200px;
    }

    &__right {
      &--img {
        top: 228px;
        right: 0;
        left: unset;
      }
    }
  }
}
@media screen and (max-width: 1240px) {
  .features-container {
    .features-container-root {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding-bottom: 200px;
    }

    &__left {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    &__img {
      margin-bottom: 32px;
    }
    &__right {
      &--img {
        position: unset;
      }
    }
  }
}
@media screen and (max-width: 425px) {
  .features-container {
    .features-container-root {
      padding-bottom: 156px;
    }
    &__right {
      &--img {
        width: 100%;
      }
    }
  }
}
