.root-partner {
  background: linear-gradient(246.85deg, #206476 8.65%, #00091c 104.82%);

  .partner-container {
    padding: 40px 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
