.home-container {
  padding: 70px 32px 0 32px;
  position: relative;
  background-image: url('../../assets/images/bg-home.png');
  height: 1149px;
  background-size: cover;
  background-position: bottom center;
  .title {
    padding: 44px 30px;
    h1 {
      font-style: normal;
      font-weight: 700;
      font-size: 72px;
      line-height: 69px;
      text-align: center;
      text-transform: uppercase;
      color: #f0f7f8;
    }
    p {
      padding-top: 12px;
      font-style: normal;
      font-weight: 400;
      font-size: 48px;
      line-height: 46px;
      text-align: center;
      color: #ffffff;
    }
  }

  .button-public {
    padding: 16px 40px;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 127%;
    color: #f0f7f8;
    background: linear-gradient(246.85deg, #00a8a8 8.65%, #00e799 104.82%);
    position: relative;
    margin-right: 32px;

    // &:after,
    // &:before {
    //   content: '';
    //   position: absolute;
    //   height: 0;
    //   width: 0;
    //   border-style: solid;
    //   // border-color: transparent
    //   //   linear-gradient(246.85deg, #00a8a8 8.65%, #00e799 104.82%);
    // }
    // &:before {
    //   left: -17px;
    //   border-width: 17px 17px 17px 0;
    // }
    // &:after {
    //   right: -17px;
    //   border-width: 17px 0 17px 17px;
    // }
  }
  .button-launch {
    padding: 16px 40px;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 127%;
    border: 1px solid;

    background: transparent;
    position: relative;
    span {
      background: -webkit-linear-gradient(246.85deg, #00a8a8 8.65%, #00e799 104.82%);
    }
  }

  .img-home-center {
    top: -600px;
    z-index: 5;
  }
}

@media screen and (max-width: 1024px) {
  .home-container {
    height: 800px;

    .title {
      h1 {
        font-size: 52px;
        line-height: 49px;
      }
      p {
        font-size: 24px;
        line-height: 26px;
      }
    }
  }
}
@media screen and (max-width: 768px) {
  .home-container {
    height: 660px;
  }
}
@media screen and (max-width: 425px) {
  .home-container {
    height: 355px;

    .title {
      padding: 30px 0 70px 0;

      h1 {
        font-size: 32px;
        line-height: 36px;
      }
      p {
        font-size: 18px;
        line-height: 132.5%;
        font-weight: 500;
      }
    }
  }
}
