// sass --watch assets/css/main.scss assets/css/main.css

// @font-face {
//   font-family: 'Neue Machina';
//   font-weight: 100;
//   src: local('Neue Machina'),
//     url('../../assets/fonts/NeueMachina-Black.otf') format('opentype');
// }

@font-face {
  font-family: 'Neue Machina';
  font-weight: 600;
  src: local('Neue Machina'),
    url('../../assets/fonts/NeueMachina-Bold.otf') format('opentype');
}

@font-face {
  font-family: 'Neue Machina';
  src: local('Neue Machina'),
    url('../../assets/fonts/NeueMachina-Light.otf') format('opentype');
}

@font-face {
  font-family: 'Neue Machina';
  font-weight: 400;
  src: local('Neue Machina'),
    url('../../assets/fonts/NeueMachina-Medium.otf') format('opentype');
}

@font-face {
  font-family: 'Neue Machina';
  // font-weight: 600;
  src: local('Neue Machina'),
    url('../../assets/fonts/NeueMachina-Regular.otf') format('opentype');
}

// @font-face {
//   font-family: 'Neue Machina';
//   // font-weight: 600;
//   src: local('Neue Machina'),
//     url('../../assets/fonts/NeueMachina-Ultrabold') format('opentype');
// }

@font-face {
  font-family: 'Neue Machina';
  // font-weight: 600;
  src: local('Neue Machina'),
    url('../../assets/fonts/NeueMachina-Ultralight.otf') format('opentype');
}

body {
  position: relative;
  *:not(input):not(textarea) {
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  font-family: 'Neue Machina' !important;
}

.bg-body {
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: -10;
  background: radial-gradient(
    42.83% 40.15% at 48.67% 53.56%,
    #206476 0%,
    #00091c 100%
  );
}

.corepark-title {
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 46px;
  text-align: center;
  text-transform: uppercase;
  color: #f0f7f8;
  margin-bottom: 20px;
}

.corepark-desc {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 132.5%;
  text-align: center;
  color: #00e7f1;
  width: 90%;
}

.header-corepark {
  padding: 32px 120px 0 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  z-index: 99;
  width: 100%;

  .menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 35px;

    .active {
      color: #00e799 !important;
    }
    .menu-item {
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 127%;
      color: #f0f7f8;
    }
  }
}

.button-custom {
  .button-box {
    position: relative;
    text-align: center;
  }
  .text-button {
    position: absolute;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 127%;
    color: #f0f7f8;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
  }
}
