// sass --watch assets/css/main.scss assets/css/main.css

// @font-face {
//   font-family: 'Neue Machina';
//   font-weight: 100;
//   src: local('Neue Machina'),
//     url('../../assets/fonts/NeueMachina-Black.otf') format('opentype');
// }

@font-face {
  font-family: 'Neue Machina';
  font-weight: 600;
  src: local('Neue Machina'),
    url('../../assets/fonts/NeueMachina-Bold.otf') format('opentype');
}

@font-face {
  font-family: 'Neue Machina';
  src: local('Neue Machina'),
    url('../../assets/fonts/NeueMachina-Light.otf') format('opentype');
}

@font-face {
  font-family: 'Neue Machina';
  font-weight: 400;
  src: local('Neue Machina'),
    url('../../assets/fonts/NeueMachina-Medium.otf') format('opentype');
}

@font-face {
  font-family: 'Neue Machina';
  // font-weight: 600;
  src: local('Neue Machina'),
    url('../../assets/fonts/NeueMachina-Regular.otf') format('opentype');
}

// @font-face {
//   font-family: 'Neue Machina';
//   // font-weight: 600;
//   src: local('Neue Machina'),
//     url('../../assets/fonts/NeueMachina-Ultrabold') format('opentype');
// }

@font-face {
  font-family: 'Neue Machina';
  // font-weight: 600;
  src: local('Neue Machina'),
    url('../../assets/fonts/NeueMachina-Ultralight.otf') format('opentype');
}

body {
  position: relative;
  *:not(input):not(textarea) {
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  font-family: 'Neue Machina' !important;
}

.max-width-1276 {
  max-width: 1276px;
  margin: 0 auto;
}
.bg-body {
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: -10;
  background: radial-gradient(
    42.83% 40.15% at 48.67% 53.56%,
    #206476 0%,
    #00091c 100%
  );
}

.corepark-title {
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 46px;
  text-align: center;
  text-transform: uppercase;
  color: #f0f7f8;
  margin-bottom: 20px;
}

.corepark-decs {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 132.5%;
  text-align: center;
  color: #00e7f1;
  width: 100%;
}

.backgound-header {
  background: #000;
}

.header-corepark {
  position: fixed;
  z-index: 99;
  width: 100%;

  .content-header {
    padding: 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .menuButton {
    display: none;
  }

  .menu-container {
    ul {
      background: transparent;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 127%;
      color: #f0f7f8;
      li {
        height: unset;
        padding-inline: unset;
        margin-inline: 0;
        width: unset;
      }
      li.ant-menu-item-selected {
        background: transparent;
        color: #00e799 !important;
      }
    }
    .menu {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 35px;
    }
  }
}
.ant-drawer-content-wrapper {
  width: auto !important;
}
.ant-drawer-wrapper-body {
  background: radial-gradient(
    42.83% 40.15% at 48.67% 53.56%,
    #206476 0%,
    #00091c 100%
  );

  .ant-drawer-header {
    background: #fff;
  }

  .ant-drawer-body {
    ul {
      background: transparent;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 127%;
      color: #f0f7f8;
      li {
        height: unset;
        padding-inline: unset;
        margin-inline: 0;
        width: unset;
      }
      li.ant-menu-item-selected {
        background: transparent;
        color: #00e799 !important;
      }

      li:last-child {
        width: 180px;
      }
    }
  }
}
.button-custom {
  .button-box {
    position: relative;
    text-align: center;
  }
  .text-button {
    position: absolute;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 127%;
    color: #f0f7f8;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
  }
}

.footer {
  background-image: url('../images/bg-footer.png');
  height: 530px;
  background-size: cover;

  .content-footer {
    display: flex;
    padding: 219px 32px 0 32px;
    justify-content: space-between;
    width: 80%;

    .copyright {
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 132.5%;
      text-align: center;
      color: #f0f7f8;
      margin-top: 7px;
    }

    .menu-footer {
      display: flex;
      flex-direction: column;
      span {
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 132.5%;
        color: #ffffff;
        margin-bottom: 2px;
        cursor: pointer;
      }
    }

    .title-footer {
      font-style: normal;
      font-weight: 700;
      font-size: 24px;
      line-height: 23px;
      text-align: center;
      text-transform: uppercase;
      color: #ffffff;
      margin-bottom: 22px;
    }
  }
}

@media screen and (max-width: 1300px) {
  .footer {
    height: 460px;
    padding-top: 160px;
  }
}
@media screen and (max-width: 1024px) {
  .header-corepark {
    .logo-corepark {
      width: 23%;
    }
  }
  .footer {
    height: 360px;
    padding-top: 115px;
  }
  .content-footer {
    padding-top: 0 !important;
  }
}
@media screen and (max-width: 768px) {
  .header-corepark {
    .menu {
      display: none;
    }
    .logo-corepark {
      width: 40%;
    }
  }
  .footer {
    height: 270px;
    padding-top: 0;
    .max-width-1276 {
      height: 100%;
    }
  }
  .content-footer {
    align-items: center;
    height: 100%;
    .menu-footer:nth-child(2) {
      display: none;
    }
    .menu-footer:nth-child(3) {
      display: none;
    }
  }

  .menuButton {
    display: block !important;
    margin-right: 10px;
    color: #fff;
    height: 45px;
  }

  .menu-container {
    display: none;
  }
}
@media screen and (max-width: 425px) {
  .footer {
    height: 150px;
  }
}
