.item-nft-destop {
  display: block;
}

.item-nft-mobile {
  display: none;
}

@media screen and (max-width: 1310px) {
  .session-web-meta-id .content-web-meta-id {
    overflow: hidden;
    padding-bottom: 30px;
  }
}
/* tablet-pc min */
@media screen and (max-width: 1239px) {
  .header-wrap .header-content .wrap-header-content .wrap-img-logo a img {
    width: 200px;
    height: auto;
  }
  .content-web-banner {
    margin-top: 10px;
  }
  .content-web-banner .content-web-banner-text {
    padding-right: 8px;
  }
  .content-web-banner .content-web-banner-text .heading-banner-text h2 {
    font-size: 78px;
  }
  .content-web-banner .content-web-banner-text .heading-banner-text h3 {
    font-size: 69px;
  }
  .content-web-banner .content-web-banner-text .heading-banner-text h4 {
    font-size: 51px;
  }
  .content-web-banner .content-web-banner-text .depreciation-text .welcome-text {
    padding-right: 70px;
  }
  .content-web-banner
    .content-web-banner-text
    .depreciation-text
    .welcome-text
    .layer {
    margin-right: 12px;
  }
  .content-web-banner
    .content-web-banner-text
    .depreciation-text
    .welcome-text
    .after-double-start {
    margin-left: 28px;
  }
  .content-web-banner
    .content-web-banner-text
    .depreciation-text
    .welcome-text
    .layer
    img,
  .content-web-banner
    .content-web-banner-text
    .depreciation-text
    .welcome-text
    .double-start
    img {
    right: -8px;
  }
  .content-web-banner .content-web-banner-image .wrap-image .crypto-banner {
    width: 450px;
    height: 450px;
  }
  .content-web-banner .content-web-banner-image .wrap-image .effect {
    position: absolute;
    top: -20px;
    left: -20px;
    width: calc(100% + 40px);
    height: calc(100% + 40px);
    margin: auto;
    z-index: 10;
    animation: rotateImage 9s linear infinite;
  }
  .content-web-banner .content-web-banner-bottom .wrap-depreciation .content-first {
    width: 52%;
  }
  .content-web-banner .content-web-banner-bottom .wrap-depreciation .content-second {
    width: 53%;
  }
  .content-web-banner
    .content-web-banner-bottom
    .wrap-depreciation
    .content-second
    .wrap-img {
    left: 5px;
  }
  .session-web-blockchain .heading-web-blockchain .world,
  .session-web-blockchain .heading-web-blockchain .main,
  .session-web-blockchain .heading-web-blockchain .blockchain,
  .session-web-blockchain .heading-web-blockchain .layer-click {
    font-size: 40px;
  }
  .session-web-blockchain
    .heading-web-blockchain
    .hover-layer
    .popup-standard-architech {
    left: -160%;
  }
  .session-web-blockchain .heading-web-blockchain .hover-layer .layer-click::before {
    right: 6px;
  }
  .session-web-blockchain .heading-web-blockchain .img-curve {
    left: 383px;
  }
  .session-web-technology .web-technology-right .web-technology-right-heading h2 {
    font-size: 40px;
  }
  .session-web-box-heading-web-box h2 {
    font-size: 40px;
  }
  .session-web-user-and-security .user-and-security-heading h2 {
    font-size: 40px;
  }
  .session-web-user-and-security
    .user-and-security-content
    .content-fast-high
    .content-fast-high-left
    .content-fast-high-item {
    width: 327px;
    padding-right: 12px;
  }
  .session-web-user-and-security
    .user-and-security-content
    .content-fast-high
    .content-fast-high-left
    .content-fast-high-item
    .content-fast-high-left-super {
    width: 300px;
    margin-left: 8px;
    margin-right: 0;
  }
  .session-web-user-and-security
    .user-and-security-content
    .content-interface-account
    .content-interface-item {
    width: 300px;
    margin-left: 8px;
  }
  .session-web-blockchain
    .content-web-blockchain
    .content-web-blockchain-header-left
    .text-blockchain {
    margin-top: 18px;
  }
  .session-web-blockchain
    .content-web-blockchain
    .content-web-blockchain-header-left
    .content-web-blockchain-left-1 {
    padding-right: 122px;
  }
  .session-web-blockchain
    .content-web-blockchain
    .content-web-blockchain-header-left
    .content-web-blockchain-left-2 {
    padding-right: 140px;
  }
  .session-web-blockchain
    .content-web-blockchain
    .content-web-blockchain-header-left
    .content-web-blockchain-left-3 {
    padding-right: 140px;
  }
  .session-web-blockchain
    .content-web-blockchain
    .content-web-blockchain-header-left
    .content-web-blockchain-left-4 {
    padding-right: 120px;
  }
  .session-web-blockchain
    .content-web-blockchain
    .content-web-blockchain-header-left
    .content-web-blockchain-left-5 {
    padding-right: 60px;
  }
  .session-web-blockchain
    .content-web-blockchain
    .content-web-blockchain-header-left
    .content-web-blockchain-left-6 {
    padding-right: 0px;
  }
  .session-web-blockchain
    .content-web-blockchain
    .content-web-blockchain-header-center
    .img-blockchain {
    width: 403px;
    height: 330px;
    top: 80px;
    left: -150px;
  }
  .session-web-blockchain
    .content-web-blockchain
    .content-web-blockchain-header-right
    .text-blockchain {
    margin-top: 18px;
  }
  .session-web-blockchain
    .content-web-blockchain
    .content-web-blockchain-header-right
    .content-web-blockchain-right-5
    br {
    display: none;
  }
  .session-web-meta-id .heading-web-meta-id h2 {
    letter-spacing: -2px;
    font-size: 25px;
  }
  .session-web-meta-id
    .content-web-meta-id
    .content-web-meta-id-left
    .content-web-meta-id-left-header
    h2 {
    font-size: 38px;
  }
  .session-web-3-0
    .content-web-3-0
    .content-web-3-0-left
    .content-web-3-0-left-header
    h2 {
    font-size: 39px;
  }
  .session-web-real-money .web-technology-right .web-technology-right-heading h2 {
    font-size: 38px;
    line-height: 48px;
  }
  .session-web-real-money
    .web-technology-right
    .web-technology-right-heading
    h2
    .iot::after {
    content: url(../icons/line-bottom-iot.svg);
    position: absolute;
    right: -6px;
    transform: scale(0.6);
  }
  .session-web-techniques .web-content-techniques .web-content-techniques-right {
    padding-left: 50px;
  }
  .section-web-contributors .header-web-contributors h2 {
    font-size: 40px;
  }
  .section-web-contributors .body-web-contributors .list-item-top .item,
  .section-web-contributors .body-web-contributors .list-item-bottom .item {
    min-width: 181px;
  }
  .section-web-advisors .header-web-advisors h2 {
    font-size: 40px;
  }
  .section-web-advisors .body-web-advisors .advisors-list .list-item-top .item,
  .section-web-advisors .body-web-advisors .advisors-list .list-item-bottom .item {
    min-width: 315px;
  }
  .session-web-decentralized
    .decentralized-content-items
    .content-group-text
    .first-text {
    font-size: 28px;
    margin-bottom: 0px;
  }
  .session-web-decentralized
    .decentralized-content-items
    .content-group-text
    .second-text
    .text {
    font-size: 24px;
  }
  .session-web-decentralized
    .decentralized-content-items
    .content-group-text
    .second-text
    .num-plus {
    font-size: 50px;
  }
  .session-web-businesses .heading-web-businesses h2 {
    font-size: 40px;
  }
  .session-web-techniques .header-web-techniques-text h2 {
    font-size: 40px;
  }
  .wrap-session-web-road-map .session-web-road-map .heading-web-road-map {
    margin-bottom: 20px;
  }
  .wrap-session-web-road-map .session-web-road-map .heading-web-road-map h2 {
    font-size: 40px;
  }
  .session-web-press .heading-web-press h2 {
    font-size: 40px;
  }
  .session-web-our-partner .heading-web-our-partner {
    font-size: 40px;
  }
  .HYPE_scene {
    transform: translateY(-50%) scale(0.875) !important;
  }
}
@media screen and (max-width: 1023px) {
  .header-wrap {
    height: 70px;
  }
  .header-wrap .header-content .wrap-header-content .header-menu-list,
  .header-wrap .header-content .wrap-header-content .header-group-btn {
    display: none;
  }
  .header-wrap .header-content .wrap-header-content .Wrap-icon-menu-mobile {
    display: flex;
  }
  .header-wrap .header-content .wrap-header-content .header-menu-mobile {
    top: 90px;
  }
  @keyframes showMenuMobile {
    from {
      top: 100px;
      opacity: 0.2;
    }
    to {
      top: 94px;
      opacity: 1;
    }
  }
  .header-wrap .header-content .show-menu {
    display: flex;
    animation: showMenuMobile 0.3s ease-out;
  }
  .content-web-banner {
    flex-direction: unset;
    margin-top: 20px;
  }
  .content-web-banner .content-web-banner-text {
    flex-direction: column-reverse;
  }
  .content-web-banner .content-web-banner-text .content-web-banner-image {
    align-items: center;
  }
  .content-web-banner
    .content-web-banner-text
    .content-web-banner-image
    .wrap-image {
    display: flex;
    justify-content: center;
    position: relative;
  }
  .content-web-banner
    .content-web-banner-text
    .content-web-banner-image
    .wrap-image
    .crypto-banner {
    height: 440px;
    width: 440px;
    position: relative;
  }
  .content-web-banner
    .content-web-banner-text
    .content-web-banner-image
    .wrap-image
    .effect {
    top: -20px;
    right: 0;
    left: -10px;
    width: 470px;
    height: 470px;
  }
  .content-web-banner .content-web-banner-text .welcome-text {
    margin: 20px 0;
    justify-content: center;
    z-index: 20;
  }
  .content-web-banner .content-web-banner-text .welcome-text p {
    font-size: 15px;
  }
  .content-web-banner .content-web-banner-text .heading-banner-text {
    justify-content: center;
    align-items: center;
  }
  .content-web-banner .content-web-banner-text .heading-banner-text h3 {
    margin-top: 0;
  }
  .content-web-banner .content-web-banner-text .depreciation-text {
    justify-content: center;
    margin-top: 20px;
  }
  .content-web-banner .content-web-banner-text .depreciation-text .welcome-text {
    font-size: 15px;
    text-align: center;
    padding: 0;
    text-align: center;
    margin-bottom: 0;
  }
  .content-web-banner .content-web-banner-bottom {
    margin-top: 16px;
  }
  .content-web-banner .content-web-banner-bottom .wrap-content-web-banner-bottom {
    display: flex;
    flex-direction: column-reverse;
  }
  .content-web-banner
    .content-web-banner-bottom
    .wrap-content-web-banner-bottom
    .group-btn-download {
    justify-content: center;
    margin-top: 16px;
  }
  .content-web-banner
    .content-web-banner-bottom
    .wrap-content-web-banner-bottom
    .group-btn-download
    .white-paper
    .innovation {
    min-width: auto;
  }
  .content-web-banner
    .content-web-banner-bottom
    .wrap-content-web-banner-bottom
    .group-btn-download
    .download {
    width: calc(40% - 10px);
  }
  .content-web-banner
    .content-web-banner-bottom
    .wrap-content-web-banner-bottom
    .wrap-depreciation {
    align-items: center;
  }
  .what-is-metanode .button-learn-more {
    margin-top: 40px;
    display: flex;
    width: 100%;
    height: 64px;
    background: linear-gradient(
      90.87deg,
      #004dff -41.78%,
      #3584fb 32.56%,
      #66b5f8 100%
    );
    border-radius: 6px;
  }
  .what-is-metanode .button-learn-more a {
    font-weight: 700;
    font-size: 17px;
    text-decoration: none;
    text-transform: uppercase;
    line-height: 100%;
    color: #ffffff;
    text-align: center;
    margin: auto !important;
  }
  .session-web-blockchain {
    margin-top: 60px;
  }
  .session-web-blockchain .heading-web-blockchain {
    display: flex;
    flex-direction: column;
  }
  .session-web-blockchain .heading-web-blockchain .hover-layer {
    display: -webkit-inline-box;
  }
  .session-web-blockchain .heading-web-blockchain .hover-layer .layer-click::before {
    right: 12px;
    top: 56px;
  }
  .session-web-blockchain
    .heading-web-blockchain
    .hover-layer
    .popup-standard-architech {
    display: none;
  }
  .session-web-blockchain
    .heading-web-blockchain
    .hover-layer:hover
    .popup-standard-architech {
    display: none;
  }
  .session-web-blockchain .modal-standard-architech {
    display: none;
    position: fixed;
    right: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    transform: scale(1);
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 9999999999;
    animation: fadeIn 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
  }
  .session-web-blockchain .modal-standard-architech .modal-content {
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 397px;
    overflow: hidden;
    background-color: #fefefe;
    border: 1px solid #888;
    animation: moveUp 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
    padding: 10px 45px 0 45px;
  }
  .session-web-blockchain
    .modal-standard-architech
    .modal-content
    .pull-down-modal-architech {
    display: flex;
    justify-content: center;
    margin-top: 8px;
    margin-bottom: 24px;
  }
  .session-web-blockchain .modal-standard-architech .modal-content .title {
    font-weight: 500;
    font-style: normal;
    font-size: 17px;
    line-height: 27px;
    color: #04004d;
    margin-bottom: 5px;
  }
  .session-web-blockchain .modal-standard-architech .modal-content .content {
    font-size: 17px;
    line-height: 27px;
    color: #667386;
  }
  .session-web-blockchain .modal-standard-architech .modal-content .content .item {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
  }
  .session-web-blockchain
    .modal-standard-architech
    .modal-content
    .content
    .item
    .dot {
    background: #667386;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    margin-top: 2px;
    margin-right: 10px;
  }
  .session-web-blockchain
    .modal-standard-architech
    .modal-content
    .content
    .item
    .last-dot {
    background: #667386;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    margin-right: 10px;
  }
  .session-web-blockchain .modal-standard-architech .modal-content .button {
    display: flex;
    width: 100%;
    height: 68px;
    background: linear-gradient(
      90.87deg,
      #004dff -41.78%,
      #3584fb 32.56%,
      #66b5f8 100%
    );
    border-radius: 6px;
    margin-top: 24px;
    padding: 0 16px 0 16px;
  }
  .session-web-blockchain .modal-standard-architech .modal-content .button .text {
    font-weight: 700;
    font-size: 17px;
    line-height: 100%;
    color: #ffffff;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }
  .session-web-blockchain
    .content-web-blockchain
    .content-web-blockchain-header-left
    p {
    text-align: left;
  }
  .session-web-blockchain
    .content-web-blockchain
    .content-web-blockchain-header-left
    p
    br {
    display: none;
  }
  .session-web-blockchain
    .content-web-blockchain
    .content-web-blockchain-header-left
    .title {
    margin-bottom: 10px;
  }
  .session-web-blockchain
    .content-web-blockchain
    .content-web-blockchain-header-left
    .text-blockchain {
    justify-content: start;
  }
  .session-web-blockchain
    .content-web-blockchain
    .content-web-blockchain-header-left
    .text-blockchain
    span {
    display: flex;
  }
  .session-web-blockchain
    .content-web-blockchain
    .content-web-blockchain-header-center {
    margin-top: 12px;
  }
  .session-web-blockchain
    .content-web-blockchain
    .content-web-blockchain-header-center
    .img-blockchain {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
  }
  .session-web-blockchain
    .content-web-blockchain
    .content-web-blockchain-header-center::after {
    display: none;
  }
  .session-web-blockchain
    .content-web-blockchain
    .content-web-blockchain-header-right {
    margin-top: 20px;
  }
  .session-web-blockchain
    .content-web-blockchain
    .content-web-blockchain-header-right
    p {
    text-align: left;
  }
  .session-web-blockchain
    .content-web-blockchain
    .content-web-blockchain-header-right
    p
    br {
    display: none;
  }
  .session-web-blockchain
    .content-web-blockchain
    .content-web-blockchain-header-right
    .text-blockchain
    span {
    display: flex;
  }
  .session-web-blockchain
    .content-web-blockchain
    .content-web-blockchain-header-right
    .wider {
    margin-bottom: 10px;
  }
  .session-web-blockchain
    .content-web-blockchain
    .content-web-blockchain-header-right
    .content-web-blockchain-right-1,
  .session-web-blockchain
    .content-web-blockchain
    .content-web-blockchain-header-right
    .content-web-blockchain-right-2,
  .session-web-blockchain
    .content-web-blockchain
    .content-web-blockchain-header-right
    .content-web-blockchain-right-3,
  .session-web-blockchain
    .content-web-blockchain
    .content-web-blockchain-header-right
    .content-web-blockchain-right-4,
  .session-web-blockchain
    .content-web-blockchain
    .content-web-blockchain-header-right
    .content-web-blockchain-right-5,
  .session-web-blockchain
    .content-web-blockchain
    .content-web-blockchain-header-right
    .content-web-blockchain-right-6 {
    width: 100%;
    padding-left: 0px;
  }
  .session-web-technology .web-technology-right-heading-mobile {
    display: flex;
  }
  .session-web-technology .web-technology-right .web-technology-right-heading {
    display: none;
  }
  .session-web-box-heading-web-box {
    margin-top: 50px;
  }
  .session-web-meta-id {
    padding-top: 0;
  }
  .session-web-meta-id .heading-web-meta-id h2 {
    letter-spacing: 0;
  }
  .session-web-meta-id .content-web-meta-id .wrap-content-web-meta-id {
    flex-direction: column;
  }
  .session-web-meta-id
    .content-web-meta-id
    .wrap-content-web-meta-id
    .content-web-meta-id-left {
    flex: 1;
    max-width: 100%;
    width: 100%;
  }
  .session-web-meta-id
    .content-web-meta-id
    .wrap-content-web-meta-id
    .content-web-meta-id-left
    .content-web-meta-id-left-header
    h2 {
    letter-spacing: 0;
  }
  .session-web-meta-id
    .content-web-meta-id
    .wrap-content-web-meta-id
    .content-web-meta-id-left
    .content-web-meta-id-left-description {
    margin-top: 20px;
  }
  .session-web-meta-id
    .content-web-meta-id
    .wrap-content-web-meta-id
    .content-web-meta-right {
    flex: 1;
    max-width: 100%;
    width: 100%;
    margin-top: 50px;
    padding-left: 0px;
  }
  .session-web-3-0 .content-web-3-0 .wrap-content-web-3-0 {
    flex-direction: column-reverse;
  }
  .session-web-3-0 .content-web-3-0 .wrap-content-web-3-0 .content-web-meta-right {
    display: none;
  }
  .session-web-3-0 .content-web-3-0 .wrap-content-web-3-0 .content-web-3-0-left {
    flex: 1;
    max-width: 100%;
    padding-left: 8px;
  }
  .session-web-3-0
    .content-web-3-0
    .wrap-content-web-3-0
    .content-web-3-0-left
    .content-web-meta-left-mobile {
    display: flex;
    width: 100%;
    height: 400px;
  }
  .session-web-press {
    position: relative;
    min-height: 320px;
  }
  .session-web-press .heading-web-press .group-btn {
    display: none !important;
  }
  .session-web-press .web-press-content {
    position: absolute;
    overflow: hidden;
    overflow-x: scroll;
    top: 30px;
    bottom: 0;
  }
  .session-web-press .web-press-content .press-content-list {
    padding: 2px 0;
  }
  .session-web-press
    .web-press-content
    .press-content-list
    .press-content-top
    .press-item
    .item-logo
    .img-item-logo {
    filter: none;
  }
  .session-web-press
    .web-press-content
    .press-content-list
    .press-content-top
    .press-item-none-mobile {
    display: flex;
  }
  .session-web-press
    .web-press-content
    .press-content-list
    .press-content-top
    .press-item-none-mobile
    .img-item-logo {
    filter: none;
  }
  .session-web-press .web-press-content .press-content-list .press-content-bottom {
    margin-bottom: 2px;
  }
  .session-web-press
    .web-press-content
    .press-content-list
    .press-content-bottom
    .press-item
    .item-logo
    .img-item-logo {
    filter: none;
  }
  .session-web-press
    .web-press-content
    .press-content-list
    .press-content-bottom
    .press-item-none-mobile {
    display: flex;
  }
  .session-web-press
    .web-press-content
    .press-content-list
    .press-content-bottom
    .press-item-none-mobile
    .img-item-logo {
    filter: none;
  }
  .session-web-press .web-press-content::-webkit-scrollbar {
    display: none;
  }
  .session-web-press .group-btn {
    display: none;
  }
  .session-web-our-partner {
    position: relative;
    min-height: 320px;
  }
  .session-web-our-partner .heading-web-our-partner .group-btn {
    display: none !important;
  }
  .session-web-our-partner .web-our-partner-content {
    position: absolute;
    overflow: hidden;
    overflow-x: scroll;
    top: 30px;
    bottom: 0;
  }
  .session-web-our-partner
    .web-our-partner-content
    .our-partner-content-list
    .our-partner-content-top
    .our-partner-item
    .item-logo
    .img-item-logo,
  .session-web-our-partner
    .web-our-partner-content
    .our-partner-content-list
    .our-partner-content-bottom
    .our-partner-item
    .item-logo
    .img-item-logo {
    filter: none;
  }
  .session-web-our-partner
    .web-our-partner-content
    .our-partner-content-list
    .our-partner-content-top
    .our-partner-item-none-mobile,
  .session-web-our-partner
    .web-our-partner-content
    .our-partner-content-list
    .our-partner-content-bottom
    .our-partner-item-none-mobile {
    display: flex;
  }
  .session-web-our-partner
    .web-our-partner-content
    .our-partner-content-list
    .our-partner-content-top
    .our-partner-item-none-mobile
    .img-item-logo,
  .session-web-our-partner
    .web-our-partner-content
    .our-partner-content-list
    .our-partner-content-bottom
    .our-partner-item-none-mobile
    .img-item-logo {
    filter: none;
  }
  .session-web-our-partner .web-our-partner-content::-webkit-scrollbar {
    display: none;
  }
  .session-web-our-partner .group-btn {
    display: none;
  }
  .session-web-techniques .header-web-techniques-img {
    margin-top: 30px;
  }
  .session-web-techniques .web-content-techniques .web-content-techniques-right {
    padding: 0 8px;
  }
  .wrap-session-web-road-map .session-web-road-map {
    min-height: 590px;
  }
  .wrap-session-web-road-map .session-web-road-map .web-road-map-content {
    top: 30px;
    height: 520px;
  }
  .wrap-session-web-road-map::after {
    bottom: 259px;
  }
  .footer .content-footer-left {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .footer .content-footer-left .title {
    margin: 0;
  }
}

/*# sourceMappingURL=pc-min.css.map */
