// sass --watch assets/css/tablet.scss assets/css/tablet.css

/* tablet - mobile */
@media (min-width: 740px) and (max-width: 1023px) {
  .content-web-banner {
    .content-web-banner-bottom {
      .wrap-content-web-banner-bottom {
        .wrap-depreciation {
          display: flex;

          .content-first,
          .content-second {
            p {
              width: 100%;
              margin-left: 5px;

              br {
                display: none;
              }
            }
          }

          .content-first {
            width: 100%;
            display: flex;
            justify-content: flex-start;
            text-align: unset;

            .wrap-img {
              margin: 3px 8px 0px 0px;
            }
          }

          .content-second {
            width: 100%;
            display: flex;
            justify-content: flex-start;
            text-align: unset;

            .wrap-img {
              position: unset;
              display: flex;
              margin: 3px 0;
            }
          }
        }
      }

      .group-btn-download {
        display: flex;
        width: 100%;
        flex-direction: column;
        margin-top: 24px;
        gap: 1rem;
        .white-yellow-paper {
          width: 100%;
          .innovation {
            width: 100%;
          }

          a {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 48%;
            height: 56px;
            font-size: 17px;
            font-weight: 600;
            text-transform: uppercase;
            border-radius: 6px;
            border: none;
            margin-right: 0;
            cursor: pointer;

            img {
              margin: 2px 0 0 4px;
            }
          }

          .white-paper {
            background: linear-gradient(
              90.87deg,
              #004dff -41.78%,
              #3584fb 32.56%,
              #66b5f8 100%
            );
            color: #fff;
          }

          .yellow-paper,
          .yellow-paper-mobile {
            background: linear-gradient(
              90.87deg,
              #fc9d00 -41.78%,
              #fdbe00 28.81%,
              #ffdf00 100%
            );
            color: #fff;
          }
        }

        .btn-download {
          width: 100%;
          display: flex;
          justify-content: center;
        }

        .white-paper {
          display: flex;
          flex-direction: row;
          width: 33.33%;
        }

        .yellow-paper {
          display: flex;
          flex-direction: row;
          width: 33.33%;
        }

        .download {
          display: flex;
          flex-direction: row;
          width: 33.33%;
        }
        i {
          margin-right: 0.5rem;
        }
      }
    }
  }

  .session-web-blockchain {
    .heading-web-blockchain {
      text-align: left;

      .world {
        width: 100%;
      }

      // .hover-layer {
      //     position: absolute;
      //     top: 0;
      //     left: 340px;
      // }

      .zero {
        position: absolute;
        top: 3px;
        right: 157px;
      }

      .img-curve {
        top: 46px;
        left: 331px;
      }
    }
  }

  .session-web-technology {
    .web-technology-left {
      // height: 460px;
      margin: 100px 0;
    }

    .web-technology-right {
      margin-top: 30px;
    }
  }

  .session-web-box {
    position: relative;
    min-height: 380px;
    margin: 60px -60px 0 -60px;
    overflow: scroll;

    .wrap-box {
      position: absolute;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      top: 0;
      left: 0;
      height: 100%;
      margin: 0;
      padding: 0 64px;
      overflow: hidden;
      overflow-x: scroll;
      // background: red;

      .box {
        width: 224px;
        height: 283px;
        flex-direction: row;
        justify-content: start;
        margin-right: 20px;
        margin-left: 0;

        .box-item {
          min-width: 180px;
          width: 100%;
          height: 210px;
          // margin-right: 12px;
        }

        // .box-item::after {
        //   display: none;
        // }
      }

      .box:last-child {
        margin-right: 0;
      }
    }

    .wrap-box::-webkit-scrollbar {
      display: none;
    }
  }

  .session-web-box::-webkit-scrollbar {
    display: none;
  }

  .session-web-3-0 {
    .content-web-3-0 {
      .content-web-3-0-left {
        .content-web-3-0-left-header {
          h2 {
            font-size: 42px;
          }
        }

        .content-web-meta-left-mobile {
          position: relative;
          overflow: hidden;
          width: auto !important;
          height: 320px !important;
          min-height: 300px;
          margin: 0 -60px;

          .img-list-tablet {
            position: absolute;
            flex: 1;
            top: 0px;
            left: 0;
            bottom: 0;
            right: 0;
            overflow-y: hidden;
            overflow-x: auto;
            display: flex;
            padding: 0 30px 0px 10px;

            img {
              width: 400px;
              height: 350px;
            }
          }

          .img-list-mobile {
            display: none;
          }

          .img-list-tablet::-webkit-scrollbar {
            display: none;
          }
        }
      }
    }
  }

  .session-web-user-and-security {
    margin-top: 40px;

    .user-and-security-content {
      .row-desktop {
        display: none;
      }

      .row-mobile {
        display: block;
        .mySwiper {
          .swiper-wrapper {
            .swiper-slide {
              padding-bottom: 23px;

              .content-swiper-slide {
                .img-tablet {
                  display: none;
                }

                .img-mobile {
                  display: flex;
                }
              }
            }
          }

          .swiper-pagination {
            bottom: 0;
          }
        }
      }

      .row-mobile::before {
        filter: blur(40px);
      }
    }
  }

  .session-web-real-money {
    .web-technology-left {
      // height: 460px;
    }

    .web-technology-right {
      margin-top: 50px;

      .web-technology-right-heading {
        margin-bottom: 0;
      }

      .web-technology-right-des {
        margin-top: 20px;

        p {
          font-size: 15px;
          line-height: 21px;
          font-weight: 400;
        }
      }
    }
  }

  .session-web-counter {
    .session-web-counter-item {
      height: 250px;

      .counter-item-content {
        .counter {
          font-size: 38px;
        }

        .title {
          font-size: 17px;
        }
      }
    }
  }

  .directors {
    position: relative;
    width: 100%;
  }

  .section-web-contributors {
    min-height: 320px;
    margin-top: 50px;
    overflow: hidden;

    .body-web-contributors {
      position: absolute;
      flex: 1;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      overflow-x: auto;
      overflow-y: hidden;
      padding: 60px 44px 0 64px;
      display: flex;

      .list-item-top {
        .item {
          width: 250px;

          .content-item {
            box-shadow: none;
          }
        }

        .item-1::after,
        .item-4::after,
        .item-5::after {
          display: none;
        }
      }

      .list-item-bottom {
        .item {
          width: 250px;

          .content-item {
            box-shadow: none;
          }
        }

        .item-6::after,
        .item-7::after,
        .item-8::after {
          display: none;
        }
      }
    }

    .body-web-contributors::-webkit-scrollbar {
      display: none;
    }
  }

  .directors::before {
    position: absolute;
    content: '';
    width: 300px;
    height: 400px;
    top: 50px;
    left: 0;
    background: #e3f7df;
    filter: blur(150px);
    z-index: -1;
  }

  .directors::after {
    position: absolute;
    content: '';
    width: 300px;
    height: 400px;
    top: 80px;
    right: 0;
    background: #fbe3bb;
    filter: blur(150px);
    z-index: -1;
  }

  .advisors {
    position: relative;
    width: 100%;

    .section-web-advisors {
      position: relative;
      width: 100%;
      min-height: 400px;
      margin-top: 50px;

      .body-web-advisors {
        position: absolute;
        flex: 1;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        overflow-x: auto;
        overflow-y: hidden;
        padding: 60px 44px 0 64px;
        display: flex;
      }

      .body-web-advisors::-webkit-scrollbar {
        display: none;
      }

      .advisors-list {
        width: auto;

        .list-item-bottom,
        .list-item-top {
          .item {
            min-width: 300px;
          }
        }

        .list-item-bottom {
          .item-4::after {
            display: none;
          }

          .item-5::after {
            display: none;
          }

          .item-6::after {
            display: none;
          }

          .item-6::before {
            display: none;
          }
        }
      }
    }
  }

  .advisors::before {
    position: absolute;
    content: '';
    width: 250px;
    height: 300px;
    top: 50px;
    left: 0;
    background: #fbbcd5;
    filter: blur(150px);
    z-index: -1;
  }

  .advisors::after {
    position: absolute;
    content: '';
    width: 300px;
    height: 300px;
    top: 80px;
    right: 0;
    background: #d5e9fa;
    filter: blur(150px);
    z-index: -1;
  }

  .session-web-decentralized {
    margin-top: 50px;

    .decentralized-content-items {
      .content-group-text {
        margin: 0;

        .first-text {
          font-size: 22px;
        }

        .second-text {
          .text {
            font-size: 20px;
          }

          .num-plus {
            font-size: 38px;
          }
        }
      }

      .button-right {
        margin: 0;
      }
    }
  }

  .session-web-businesses {
    .content-web-businesses {
      margin-top: 30px;

      .row-desktop {
        display: none;
      }

      .row-tablet {
        display: flex;
      }

      .row-mobile {
        display: none;
      }
    }
  }

  .session-web-techniques {
    margin-top: 50px;

    .header-web-content {
      flex-direction: column;
    }
  }

  .wrap-session-web-road-map {
    .session-web-road-map {
      position: relative;
      // min-height: 440px;
      // background: red;

      .web-road-map-content {
        position: absolute;
        overflow: hidden;
        overflow-x: scroll;
        bottom: 0;
        justify-content: flex-start;
      }

      .web-road-map-content::-webkit-scrollbar {
        display: none;
      }

      .group-btn {
        display: none;
      }
    }
  }

  .session-web-press {
    min-height: 330px;
    margin: 0 -60px;

    .web-press-content {
      padding: 0 40px 0 64px;

      .press-item {
        .press-content-item {
          .press-content-item-detail {
            margin-bottom: 16px;
          }
        }
      }
    }
  }

  .session-web-our-partner {
    min-height: 330px;
    margin: 60px -60px 0 -60px;

    .web-our-partner-content {
      padding: 0 40px 0 64px;

      .our-partner-item {
        .our-partner-content-item {
          .our-partner-content-item-detail {
            margin-bottom: 16px;
          }
        }
      }
    }
  }

  .session-web-join-our {
    margin-top: 40px;

    .header-web-join-our-left {
      h2 {
        text-align: center;
      }

      p {
        text-align: center;
      }
    }

    .header-web-join-our-right {
      margin-top: 30px;

      input {
        width: 80%;
      }
    }
  }

  .footer {
    min-height: auto;
    padding: 30px 0;

    background: #ebf2ff;
    .company-info {
      margin: 0;
      grid-column: span 2 / span 2;
    }
    .content-footer-left {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      .column-start-1 {
        grid-column-start: 1;
      }
      .column-start-2 {
        grid-column-start: 2;
      }
      .column-start-3 {
        grid-column-start: 3;
      }
      .column-start-4 {
        grid-column-start: 4;
      }
      .column-start-5 {
        grid-column-start: 5;
      }
      .column-start-6 {
        grid-column-start: 6;
      }
      img {
        width: 144px;
      }
      .column-span-2 {
        grid-column: span 2 / span 2;
      }
      .company-info {
        margin-top: 0.36rem;
        grid-column: span 6 / span 6;
      }
      .select-language {
        display: none;
      }
      .tablet-version {
        display: block;
      }
      .desktop-version {
        display: none !important;
      }
    }

    .content-footer-right {
      display: none;
    }
  }
  .HYPE_scene {
    transform: translateY(-50%) scale(0.8) !important;
  }
}
